body {
  padding: 0 0 _size(header) 0;
}

#header {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background: _palette(bg-alt);
  top: 0;
  height: _size(header) + 1em;
  left: 0;
  line-height: _size(header);
  padding: 0 1.5em;
  position: fixed;
  user-select: none;
  width: 100%;
  z-index: _misc(z-index-base) + 2;

  h1 {
    color: _palette(fg-light);
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    margin: 0.5rem 0 0;
    vertical-align: middle;

    @media screen and (max-width: 640px) {
      width: 100px;
    }

    a {
      border: 0;

      &:hover {
        color: inherit !important;
      }
    }
  }

  nav {
    position: absolute;
    right: 0;
    top: 0.5em;

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        display: inline-block;
        padding: 0;

        a {
          @include vendor(
            'transition',
            'background-color #{_duration(panel)} ease'
          );
          border: 0;
          color: _palette(fg-light);
          display: inline-block;
          letter-spacing: _font(kerning-alt);
          padding: 0 1.65em;
          text-transform: uppercase;

          &.icon {
            &:before {
              color: _palette(fg-light);
              float: right;
              margin-left: 0.75em;
            }
          }

          &:hover {
            color: _palette(fg-light) !important;
          }

          &.active {
            background-color: _palette(bg);
          }
        }
      }
    }
  }
}

@include breakpoint('<=small') {
  body {
    padding: _size(header) 0 0 0;
  }

  #header {
    @include vendor('transform', 'translateY(0)');
    bottom: auto;
    height: _size(header);
    padding: 0 1em;
    top: 0;

    h1 {
      font-size: 0.9em;
    }

    nav {
      > ul {
        > li {
          a {
            font-size: 0.9em;
            padding: 0 1.15em;
          }
        }
      }
    }
  }
}
