.header {
  background: _palette(bg-alt);
  top: 0;
  height: 5rem;
  line-height: 4rem;
  padding: 0 1.5em;
  position: fixed;
  width: 100%;
  z-index: _misc(z-index-base) + 2;

  .header-content {
    margin: auto;
    position: relative;

    @media screen and (min-width: 75rem) {
      max-width: 75rem;
    }

    @media screen and (min-width: 100rem) {
      max-width: 100rem;
    }
  }

  h1 {
    color: _palette(light);
    display: inline-block;
    font-size: 1em;
    margin: 0.5rem 0 0;
    vertical-align: middle;

    @media screen and (max-width: 640px) {
      width: 80px;
    }

    a {
      border: 0;

      &:hover {
        color: inherit !important;
      }
    }
  }

  nav {
    position: absolute;
    right: 0;
    top: 0.5em;

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      > li {
        padding: 0;

        a {
          position: relative;
          color: _palette(light);
          letter-spacing: _font(kerning-alt);
          margin: 0 1.5rem;
          text-transform: uppercase;

          @media screen and (max-width: 640px) {
            font-size: 0.75rem;
            margin: 0 0.25rem;
          }

          &:hover,
          &:focus {
            border-bottom: 4px solid _palette(accent1);
          }

          &.active {
            border-bottom: 4px solid _palette(accent1);
          }
        }
      }
    }
  }
}

@include breakpoint('<=small') {
  body {
    padding: _size(header) 0 0 0;
  }

  #header {
    @include vendor('transform', 'translateY(0)');
    bottom: auto;
    height: _size(header);
    padding: 0 1em;
    top: 0;

    h1 {
      font-size: 0.9em;
    }

    nav {
      > ul {
        margin-right: 0.5rem;
        > li {
          a {
            font-size: 0.9em;
            margin: 0 0.5rem;
            padding: 0;
          }
        }
      }
    }
  }
}
