.banner {
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  font-weight: 700;

  &.first {
    margin-top: 5rem;

    @media screen and (max-width: 736px) {
      margin-top: 0;
    }

    @media screen and (max-width: 640px) {
      margin-top: 1.25rem;
    }
  }

  &.last {
    margin-bottom: 1rem;
  }

  h3,
  h6,
  p {
    margin: 0 auto;
  }

  p {
    @media screen and (max-width: 640px) {
      font-size: 0.75rem;
    }
  }
}

.bg-accent1 {
  background-color: _palette(accent1);
}

.bg-accent2 {
  background-color: _palette(accent2);
  color: #fff;
}
