.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 40rem) {
    max-width: 50rem;
  }

  @media screen and (min-width: 75rem) {
    max-width: 75rem;
  }

  @media screen and (min-width: 100rem) {
    max-width: 100rem;
  }

  .image {
    width: auto;
    height: 16rem;
    overflow: hidden;
    position: relative;
    margin: 0.5rem;

    @media screen and (min-width: 40rem) {
      width: 24rem;
    }

    img {
      width: 100%;
      height: auto;
    }

    > h2 {
      margin: 0;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      z-index: 1;
      background: _palette(bg);
    }

    h2 {
      padding: 0.25rem 0.5rem;
    }
  }
}
