.order-form {
  // border: 1px solid #ddd;
  box-shadow: 0 0 10px #ccc;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 100%;
  }

  em {
    color: red;
    font-weight: 700;
    font-size: 1.25em;
  }

  > h2,
  h3,
  p {
    text-align: center;
    color: _palette(medium);
  }

  label {
    color: _palette(medium);
  }

  input,
  textarea {
    border: 1px solid #ccc;
  }
}
