.order-form {
  border: 1px solid purple;
  padding: 2rem;

  > h2,
  h3,
  p {
    text-align: center;
    color: _palette(fg-medium);
  }

  label {
    color: _palette(fg-medium);
  }

  input,
  textarea {
    border: 1px solid purple;
  }
}
