.shipping {
  display: flex;
  justify-content: space-around;
  align-items: center;

  ul {
    list-style: none;
    padding: 1rem;
    border: 1px solid _palette(border-bg-alt);
  }
}

.total {
  font-weight: 800;
  font-size: 2rem;
}
